cache
libraries
versions
logs
world
world_nether
world_the_end
plugins/*
.console_history
usercache.json
!plugins/floodgate-spigot.jar
!plugins/Geyser-Spigot.jar
!plugins/LuckPerms-5.4.137.jar
!plugins/PlugMan-2.4.1.jar
!plugins/AuthMe.jar
!plugins/EssentialsX-Spawn.jar
!plugins/EssentialsX.jar
!plugins/WorldEdit.jar
!plugins/VoiceChatPlugin.jar
!plugins/SkinsRestorer.jar
!plugins/item-nbt-api-plugin-2.13.1.jar
!plugins/TAB-4.1.6.jar
!plugins/CoreProtect.jar

!plugins/AuthMe/
plugins/AuthMe/*
!plugins/AuthMe/config.yml

!plugins/Essentials/
plugins/Essentials/*
!plugins/Essentials/config.yml

!plugins/SkinsRestorer/
plugins/SkinsRestorer/*
!plugins/SkinsRestorer/config.yml

!plugins/TAB/